[Unit]
Description=Service that updates the plots and readme file

[Timer]
OnCalendar=*-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
