[Unit]
Description=Service that runs the MQTT Broker
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/Desktop/ghostiek
ExecStart=/home/pi/Desktop/ghostiek/src/Pi/MQTTBroker/broker_venv/bin/python -m src.Pi.MQTTBroker.broker.run

[Install]
WantedBy=multi-user.target
